.cpl-scope .col-base-10 .col-xs-10 {
  width: 100%;
}
.cpl-scope .col-base-10 .col-xs-9 {
  width: 90%;
}
.cpl-scope .col-base-10 .col-xs-8 {
  width: 80%;
}
.cpl-scope .col-base-10 .col-xs-7 {
  width: 70%;
}
.cpl-scope .col-base-10 .col-xs-6 {
  width: 60%;
}
.cpl-scope .col-base-10 .col-xs-5 {
  width: 50%;
}
.cpl-scope .col-base-10 .col-xs-4 {
  width: 40%;
}
.cpl-scope .col-base-10 .col-xs-3 {
  width: 30%;
}
.cpl-scope .col-base-10 .col-xs-2 {
  width: 20%;
}
.cpl-scope .col-base-10 .col-xs-1 {
  width: 10%;
}
.cpl-scope .col-base-10 .col-xs-pull-10 {
  right: 100%;
}
.cpl-scope .col-base-10 .col-xs-pull-9 {
  right: 90%;
}
.cpl-scope .col-base-10 .col-xs-pull-8 {
  right: 80%;
}
.cpl-scope .col-base-10 .col-xs-pull-7 {
  right: 70%;
}
.cpl-scope .col-base-10 .col-xs-pull-6 {
  right: 60%;
}
.cpl-scope .col-base-10 .col-xs-pull-5 {
  right: 50%;
}
.cpl-scope .col-base-10 .col-xs-pull-4 {
  right: 40%;
}
.cpl-scope .col-base-10 .col-xs-pull-3 {
  right: 30%;
}
.cpl-scope .col-base-10 .col-xs-pull-2 {
  right: 20%;
}
.cpl-scope .col-base-10 .col-xs-pull-1 {
  right: 10%;
}
.cpl-scope .col-base-10 .col-xs-push-10 {
  left: 100%;
}
.cpl-scope .col-base-10 .col-xs-push-9 {
  left: 90%;
}
.cpl-scope .col-base-10 .col-xs-push-8 {
  left: 80%;
}
.cpl-scope .col-base-10 .col-xs-push-7 {
  left: 70%;
}
.cpl-scope .col-base-10 .col-xs-push-6 {
  left: 60%;
}
.cpl-scope .col-base-10 .col-xs-push-5 {
  left: 50%;
}
.cpl-scope .col-base-10 .col-xs-push-4 {
  left: 40%;
}
.cpl-scope .col-base-10 .col-xs-push-3 {
  left: 30%;
}
.cpl-scope .col-base-10 .col-xs-push-2 {
  left: 20%;
}
.cpl-scope .col-base-10 .col-xs-push-1 {
  left: 10%;
}
.cpl-scope .col-base-10 .col-xs-offset-10 {
  margin-left: 100%;
}
.cpl-scope .col-base-10 .col-xs-offset-9 {
  margin-left: 90%;
}
.cpl-scope .col-base-10 .col-xs-offset-8 {
  margin-left: 80%;
}
.cpl-scope .col-base-10 .col-xs-offset-7 {
  margin-left: 70%;
}
.cpl-scope .col-base-10 .col-xs-offset-6 {
  margin-left: 60%;
}
.cpl-scope .col-base-10 .col-xs-offset-5 {
  margin-left: 50%;
}
.cpl-scope .col-base-10 .col-xs-offset-4 {
  margin-left: 40%;
}
.cpl-scope .col-base-10 .col-xs-offset-3 {
  margin-left: 30%;
}
.cpl-scope .col-base-10 .col-xs-offset-2 {
  margin-left: 20%;
}
.cpl-scope .col-base-10 .col-xs-offset-1 {
  margin-left: 10%;
}
@media (min-width: 768px) {
  .cpl-scope .col-base-10 .col-sm-1,
  .cpl-scope .col-base-10 .col-sm-2,
  .cpl-scope .col-base-10 .col-sm-3,
  .cpl-scope .col-base-10 .col-sm-4,
  .cpl-scope .col-base-10 .col-sm-5,
  .cpl-scope .col-base-10 .col-sm-6,
  .cpl-scope .col-base-10 .col-sm-7,
  .cpl-scope .col-base-10 .col-sm-8,
  .cpl-scope .col-base-10 .col-sm-9,
  .cpl-scope .col-base-10 .col-sm-10,
  .cpl-scope .col-base-10 .col-sm-11,
  .cpl-scope .col-base-10 .col-sm-12 {
    float: left;
  }
  .cpl-scope .col-base-10 .col-sm-10 {
    width: 100%;
  }
  .cpl-scope .col-base-10 .col-sm-9 {
    width: 90%;
  }
  .cpl-scope .col-base-10 .col-sm-8 {
    width: 80%;
  }
  .cpl-scope .col-base-10 .col-sm-7 {
    width: 70%;
  }
  .cpl-scope .col-base-10 .col-sm-6 {
    width: 60%;
  }
  .cpl-scope .col-base-10 .col-sm-5 {
    width: 50%;
  }
  .cpl-scope .col-base-10 .col-sm-4 {
    width: 40%;
  }
  .cpl-scope .col-base-10 .col-sm-3 {
    width: 30%;
  }
  .cpl-scope .col-base-10 .col-sm-2 {
    width: 20%;
  }
  .cpl-scope .col-base-10 .col-sm-1 {
    width: 10%;
  }
  .cpl-scope .col-base-10 .col-sm-pull-10 {
    right: 100%;
  }
  .cpl-scope .col-base-10 .col-sm-pull-9 {
    right: 90%;
  }
  .cpl-scope .col-base-10 .col-sm-pull-8 {
    right: 80%;
  }
  .cpl-scope .col-base-10 .col-sm-pull-7 {
    right: 70%;
  }
  .cpl-scope .col-base-10 .col-sm-pull-6 {
    right: 60%;
  }
  .cpl-scope .col-base-10 .col-sm-pull-5 {
    right: 50%;
  }
  .cpl-scope .col-base-10 .col-sm-pull-4 {
    right: 40%;
  }
  .cpl-scope .col-base-10 .col-sm-pull-3 {
    right: 30%;
  }
  .cpl-scope .col-base-10 .col-sm-pull-2 {
    right: 20%;
  }
  .cpl-scope .col-base-10 .col-sm-pull-1 {
    right: 10%;
  }
  .cpl-scope .col-base-10 .col-sm-push-10 {
    left: 100%;
  }
  .cpl-scope .col-base-10 .col-sm-push-9 {
    left: 90%;
  }
  .cpl-scope .col-base-10 .col-sm-push-8 {
    left: 80%;
  }
  .cpl-scope .col-base-10 .col-sm-push-7 {
    left: 70%;
  }
  .cpl-scope .col-base-10 .col-sm-push-6 {
    left: 60%;
  }
  .cpl-scope .col-base-10 .col-sm-push-5 {
    left: 50%;
  }
  .cpl-scope .col-base-10 .col-sm-push-4 {
    left: 40%;
  }
  .cpl-scope .col-base-10 .col-sm-push-3 {
    left: 30%;
  }
  .cpl-scope .col-base-10 .col-sm-push-2 {
    left: 20%;
  }
  .cpl-scope .col-base-10 .col-sm-push-1 {
    left: 10%;
  }
  .cpl-scope .col-base-10 .col-sm-offset-10 {
    margin-left: 100%;
  }
  .cpl-scope .col-base-10 .col-sm-offset-9 {
    margin-left: 90%;
  }
  .cpl-scope .col-base-10 .col-sm-offset-8 {
    margin-left: 80%;
  }
  .cpl-scope .col-base-10 .col-sm-offset-7 {
    margin-left: 70%;
  }
  .cpl-scope .col-base-10 .col-sm-offset-6 {
    margin-left: 60%;
  }
  .cpl-scope .col-base-10 .col-sm-offset-5 {
    margin-left: 50%;
  }
  .cpl-scope .col-base-10 .col-sm-offset-4 {
    margin-left: 40%;
  }
  .cpl-scope .col-base-10 .col-sm-offset-3 {
    margin-left: 30%;
  }
  .cpl-scope .col-base-10 .col-sm-offset-2 {
    margin-left: 20%;
  }
  .cpl-scope .col-base-10 .col-sm-offset-1 {
    margin-left: 10%;
  }
}
@media (min-width: 992px) {
  .cpl-scope .col-base-10 .col-md-1,
  .cpl-scope .col-base-10 .col-md-2,
  .cpl-scope .col-base-10 .col-md-3,
  .cpl-scope .col-base-10 .col-md-4,
  .cpl-scope .col-base-10 .col-md-5,
  .cpl-scope .col-base-10 .col-md-6,
  .cpl-scope .col-base-10 .col-md-7,
  .cpl-scope .col-base-10 .col-md-8,
  .cpl-scope .col-base-10 .col-md-9,
  .cpl-scope .col-base-10 .col-md-10,
  .cpl-scope .col-base-10 .col-md-11,
  .cpl-scope .col-base-10 .col-md-12 {
    float: left;
  }
  .cpl-scope .col-base-10 .col-md-10 {
    width: 100%;
  }
  .cpl-scope .col-base-10 .col-md-9 {
    width: 90%;
  }
  .cpl-scope .col-base-10 .col-md-8 {
    width: 80%;
  }
  .cpl-scope .col-base-10 .col-md-7 {
    width: 70%;
  }
  .cpl-scope .col-base-10 .col-md-6 {
    width: 60%;
  }
  .cpl-scope .col-base-10 .col-md-5 {
    width: 50%;
  }
  .cpl-scope .col-base-10 .col-md-4 {
    width: 40%;
  }
  .cpl-scope .col-base-10 .col-md-3 {
    width: 30%;
  }
  .cpl-scope .col-base-10 .col-md-2 {
    width: 20%;
  }
  .cpl-scope .col-base-10 .col-md-1 {
    width: 10%;
  }
  .cpl-scope .col-base-10 .col-md-pull-10 {
    right: 100%;
  }
  .cpl-scope .col-base-10 .col-md-pull-9 {
    right: 90%;
  }
  .cpl-scope .col-base-10 .col-md-pull-8 {
    right: 80%;
  }
  .cpl-scope .col-base-10 .col-md-pull-7 {
    right: 70%;
  }
  .cpl-scope .col-base-10 .col-md-pull-6 {
    right: 60%;
  }
  .cpl-scope .col-base-10 .col-md-pull-5 {
    right: 50%;
  }
  .cpl-scope .col-base-10 .col-md-pull-4 {
    right: 40%;
  }
  .cpl-scope .col-base-10 .col-md-pull-3 {
    right: 30%;
  }
  .cpl-scope .col-base-10 .col-md-pull-2 {
    right: 20%;
  }
  .cpl-scope .col-base-10 .col-md-pull-1 {
    right: 10%;
  }
  .cpl-scope .col-base-10 .col-md-push-10 {
    left: 100%;
  }
  .cpl-scope .col-base-10 .col-md-push-9 {
    left: 90%;
  }
  .cpl-scope .col-base-10 .col-md-push-8 {
    left: 80%;
  }
  .cpl-scope .col-base-10 .col-md-push-7 {
    left: 70%;
  }
  .cpl-scope .col-base-10 .col-md-push-6 {
    left: 60%;
  }
  .cpl-scope .col-base-10 .col-md-push-5 {
    left: 50%;
  }
  .cpl-scope .col-base-10 .col-md-push-4 {
    left: 40%;
  }
  .cpl-scope .col-base-10 .col-md-push-3 {
    left: 30%;
  }
  .cpl-scope .col-base-10 .col-md-push-2 {
    left: 20%;
  }
  .cpl-scope .col-base-10 .col-md-push-1 {
    left: 10%;
  }
  .cpl-scope .col-base-10 .col-md-offset-10 {
    margin-left: 100%;
  }
  .cpl-scope .col-base-10 .col-md-offset-9 {
    margin-left: 90%;
  }
  .cpl-scope .col-base-10 .col-md-offset-8 {
    margin-left: 80%;
  }
  .cpl-scope .col-base-10 .col-md-offset-7 {
    margin-left: 70%;
  }
  .cpl-scope .col-base-10 .col-md-offset-6 {
    margin-left: 60%;
  }
  .cpl-scope .col-base-10 .col-md-offset-5 {
    margin-left: 50%;
  }
  .cpl-scope .col-base-10 .col-md-offset-4 {
    margin-left: 40%;
  }
  .cpl-scope .col-base-10 .col-md-offset-3 {
    margin-left: 30%;
  }
  .cpl-scope .col-base-10 .col-md-offset-2 {
    margin-left: 20%;
  }
  .cpl-scope .col-base-10 .col-md-offset-1 {
    margin-left: 10%;
  }
}
@media (min-width: 1200px) {
  .cpl-scope .col-base-10 .col-lg-1,
  .cpl-scope .col-base-10 .col-lg-2,
  .cpl-scope .col-base-10 .col-lg-3,
  .cpl-scope .col-base-10 .col-lg-4,
  .cpl-scope .col-base-10 .col-lg-5,
  .cpl-scope .col-base-10 .col-lg-6,
  .cpl-scope .col-base-10 .col-lg-7,
  .cpl-scope .col-base-10 .col-lg-8,
  .cpl-scope .col-base-10 .col-lg-9,
  .cpl-scope .col-base-10 .col-lg-10,
  .cpl-scope .col-base-10 .col-lg-11,
  .cpl-scope .col-base-10 .col-lg-12 {
    float: left;
  }
  .cpl-scope .col-base-10 .col-lg-10 {
    width: 100%;
  }
  .cpl-scope .col-base-10 .col-lg-9 {
    width: 90%;
  }
  .cpl-scope .col-base-10 .col-lg-8 {
    width: 80%;
  }
  .cpl-scope .col-base-10 .col-lg-7 {
    width: 70%;
  }
  .cpl-scope .col-base-10 .col-lg-6 {
    width: 60%;
  }
  .cpl-scope .col-base-10 .col-lg-5 {
    width: 50%;
  }
  .cpl-scope .col-base-10 .col-lg-4 {
    width: 40%;
  }
  .cpl-scope .col-base-10 .col-lg-3 {
    width: 30%;
  }
  .cpl-scope .col-base-10 .col-lg-2 {
    width: 20%;
  }
  .cpl-scope .col-base-10 .col-lg-1 {
    width: 10%;
  }
  .cpl-scope .col-base-10 .col-lg-pull-10 {
    right: 100%;
  }
  .cpl-scope .col-base-10 .col-lg-pull-9 {
    right: 90%;
  }
  .cpl-scope .col-base-10 .col-lg-pull-8 {
    right: 80%;
  }
  .cpl-scope .col-base-10 .col-lg-pull-7 {
    right: 70%;
  }
  .cpl-scope .col-base-10 .col-lg-pull-6 {
    right: 60%;
  }
  .cpl-scope .col-base-10 .col-lg-pull-5 {
    right: 50%;
  }
  .cpl-scope .col-base-10 .col-lg-pull-4 {
    right: 40%;
  }
  .cpl-scope .col-base-10 .col-lg-pull-3 {
    right: 30%;
  }
  .cpl-scope .col-base-10 .col-lg-pull-2 {
    right: 20%;
  }
  .cpl-scope .col-base-10 .col-lg-pull-1 {
    right: 10%;
  }
  .cpl-scope .col-base-10 .col-lg-push-10 {
    left: 100%;
  }
  .cpl-scope .col-base-10 .col-lg-push-9 {
    left: 90%;
  }
  .cpl-scope .col-base-10 .col-lg-push-8 {
    left: 80%;
  }
  .cpl-scope .col-base-10 .col-lg-push-7 {
    left: 70%;
  }
  .cpl-scope .col-base-10 .col-lg-push-6 {
    left: 60%;
  }
  .cpl-scope .col-base-10 .col-lg-push-5 {
    left: 50%;
  }
  .cpl-scope .col-base-10 .col-lg-push-4 {
    left: 40%;
  }
  .cpl-scope .col-base-10 .col-lg-push-3 {
    left: 30%;
  }
  .cpl-scope .col-base-10 .col-lg-push-2 {
    left: 20%;
  }
  .cpl-scope .col-base-10 .col-lg-push-1 {
    left: 10%;
  }
  .cpl-scope .col-base-10 .col-lg-offset-10 {
    margin-left: 100%;
  }
  .cpl-scope .col-base-10 .col-lg-offset-9 {
    margin-left: 90%;
  }
  .cpl-scope .col-base-10 .col-lg-offset-8 {
    margin-left: 80%;
  }
  .cpl-scope .col-base-10 .col-lg-offset-7 {
    margin-left: 70%;
  }
  .cpl-scope .col-base-10 .col-lg-offset-6 {
    margin-left: 60%;
  }
  .cpl-scope .col-base-10 .col-lg-offset-5 {
    margin-left: 50%;
  }
  .cpl-scope .col-base-10 .col-lg-offset-4 {
    margin-left: 40%;
  }
  .cpl-scope .col-base-10 .col-lg-offset-3 {
    margin-left: 30%;
  }
  .cpl-scope .col-base-10 .col-lg-offset-2 {
    margin-left: 20%;
  }
  .cpl-scope .col-base-10 .col-lg-offset-1 {
    margin-left: 10%;
  }
}
.cpl-scope .col-base-12 .col-xs-12 {
  width: 100%;
}
.cpl-scope .col-base-12 .col-xs-11 {
  width: 91.66666667%;
}
.cpl-scope .col-base-12 .col-xs-10 {
  width: 83.33333333%;
}
.cpl-scope .col-base-12 .col-xs-9 {
  width: 75%;
}
.cpl-scope .col-base-12 .col-xs-8 {
  width: 66.66666667%;
}
.cpl-scope .col-base-12 .col-xs-7 {
  width: 58.33333333%;
}
.cpl-scope .col-base-12 .col-xs-6 {
  width: 50%;
}
.cpl-scope .col-base-12 .col-xs-5 {
  width: 41.66666667%;
}
.cpl-scope .col-base-12 .col-xs-4 {
  width: 33.33333333%;
}
.cpl-scope .col-base-12 .col-xs-3 {
  width: 25%;
}
.cpl-scope .col-base-12 .col-xs-2 {
  width: 16.66666667%;
}
.cpl-scope .col-base-12 .col-xs-1 {
  width: 8.33333333%;
}
.cpl-scope .col-base-12 .col-xs-pull-12 {
  right: 100%;
}
.cpl-scope .col-base-12 .col-xs-pull-11 {
  right: 91.66666667%;
}
.cpl-scope .col-base-12 .col-xs-pull-10 {
  right: 83.33333333%;
}
.cpl-scope .col-base-12 .col-xs-pull-9 {
  right: 75%;
}
.cpl-scope .col-base-12 .col-xs-pull-8 {
  right: 66.66666667%;
}
.cpl-scope .col-base-12 .col-xs-pull-7 {
  right: 58.33333333%;
}
.cpl-scope .col-base-12 .col-xs-pull-6 {
  right: 50%;
}
.cpl-scope .col-base-12 .col-xs-pull-5 {
  right: 41.66666667%;
}
.cpl-scope .col-base-12 .col-xs-pull-4 {
  right: 33.33333333%;
}
.cpl-scope .col-base-12 .col-xs-pull-3 {
  right: 25%;
}
.cpl-scope .col-base-12 .col-xs-pull-2 {
  right: 16.66666667%;
}
.cpl-scope .col-base-12 .col-xs-pull-1 {
  right: 8.33333333%;
}
.cpl-scope .col-base-12 .col-xs-pull-0 {
  right: auto;
}
.cpl-scope .col-base-12 .col-xs-push-12 {
  left: 100%;
}
.cpl-scope .col-base-12 .col-xs-push-11 {
  left: 91.66666667%;
}
.cpl-scope .col-base-12 .col-xs-push-10 {
  left: 83.33333333%;
}
.cpl-scope .col-base-12 .col-xs-push-9 {
  left: 75%;
}
.cpl-scope .col-base-12 .col-xs-push-8 {
  left: 66.66666667%;
}
.cpl-scope .col-base-12 .col-xs-push-7 {
  left: 58.33333333%;
}
.cpl-scope .col-base-12 .col-xs-push-6 {
  left: 50%;
}
.cpl-scope .col-base-12 .col-xs-push-5 {
  left: 41.66666667%;
}
.cpl-scope .col-base-12 .col-xs-push-4 {
  left: 33.33333333%;
}
.cpl-scope .col-base-12 .col-xs-push-3 {
  left: 25%;
}
.cpl-scope .col-base-12 .col-xs-push-2 {
  left: 16.66666667%;
}
.cpl-scope .col-base-12 .col-xs-push-1 {
  left: 8.33333333%;
}
.cpl-scope .col-base-12 .col-xs-push-0 {
  left: auto;
}
.cpl-scope .col-base-12 .col-xs-offset-12 {
  margin-left: 100%;
}
.cpl-scope .col-base-12 .col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.cpl-scope .col-base-12 .col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.cpl-scope .col-base-12 .col-xs-offset-9 {
  margin-left: 75%;
}
.cpl-scope .col-base-12 .col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.cpl-scope .col-base-12 .col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.cpl-scope .col-base-12 .col-xs-offset-6 {
  margin-left: 50%;
}
.cpl-scope .col-base-12 .col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.cpl-scope .col-base-12 .col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.cpl-scope .col-base-12 .col-xs-offset-3 {
  margin-left: 25%;
}
.cpl-scope .col-base-12 .col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.cpl-scope .col-base-12 .col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.cpl-scope .col-base-12 .col-xs-offset-0 {
  margin-left: 0%;
}
@media (min-width: 768px) {
  .cpl-scope .col-base-12 .col-sm-12 {
    width: 100%;
  }
  .cpl-scope .col-base-12 .col-sm-11 {
    width: 91.66666667%;
  }
  .cpl-scope .col-base-12 .col-sm-10 {
    width: 83.33333333%;
  }
  .cpl-scope .col-base-12 .col-sm-9 {
    width: 75%;
  }
  .cpl-scope .col-base-12 .col-sm-8 {
    width: 66.66666667%;
  }
  .cpl-scope .col-base-12 .col-sm-7 {
    width: 58.33333333%;
  }
  .cpl-scope .col-base-12 .col-sm-6 {
    width: 50%;
  }
  .cpl-scope .col-base-12 .col-sm-5 {
    width: 41.66666667%;
  }
  .cpl-scope .col-base-12 .col-sm-4 {
    width: 33.33333333%;
  }
  .cpl-scope .col-base-12 .col-sm-3 {
    width: 25%;
  }
  .cpl-scope .col-base-12 .col-sm-2 {
    width: 16.66666667%;
  }
  .cpl-scope .col-base-12 .col-sm-1 {
    width: 8.33333333%;
  }
  .cpl-scope .col-base-12 .col-sm-pull-12 {
    right: 100%;
  }
  .cpl-scope .col-base-12 .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .cpl-scope .col-base-12 .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .cpl-scope .col-base-12 .col-sm-pull-9 {
    right: 75%;
  }
  .cpl-scope .col-base-12 .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .cpl-scope .col-base-12 .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .cpl-scope .col-base-12 .col-sm-pull-6 {
    right: 50%;
  }
  .cpl-scope .col-base-12 .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .cpl-scope .col-base-12 .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .cpl-scope .col-base-12 .col-sm-pull-3 {
    right: 25%;
  }
  .cpl-scope .col-base-12 .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .cpl-scope .col-base-12 .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .cpl-scope .col-base-12 .col-sm-pull-0 {
    right: auto;
  }
  .cpl-scope .col-base-12 .col-sm-push-12 {
    left: 100%;
  }
  .cpl-scope .col-base-12 .col-sm-push-11 {
    left: 91.66666667%;
  }
  .cpl-scope .col-base-12 .col-sm-push-10 {
    left: 83.33333333%;
  }
  .cpl-scope .col-base-12 .col-sm-push-9 {
    left: 75%;
  }
  .cpl-scope .col-base-12 .col-sm-push-8 {
    left: 66.66666667%;
  }
  .cpl-scope .col-base-12 .col-sm-push-7 {
    left: 58.33333333%;
  }
  .cpl-scope .col-base-12 .col-sm-push-6 {
    left: 50%;
  }
  .cpl-scope .col-base-12 .col-sm-push-5 {
    left: 41.66666667%;
  }
  .cpl-scope .col-base-12 .col-sm-push-4 {
    left: 33.33333333%;
  }
  .cpl-scope .col-base-12 .col-sm-push-3 {
    left: 25%;
  }
  .cpl-scope .col-base-12 .col-sm-push-2 {
    left: 16.66666667%;
  }
  .cpl-scope .col-base-12 .col-sm-push-1 {
    left: 8.33333333%;
  }
  .cpl-scope .col-base-12 .col-sm-push-0 {
    left: auto;
  }
  .cpl-scope .col-base-12 .col-sm-offset-12 {
    margin-left: 100%;
  }
  .cpl-scope .col-base-12 .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .cpl-scope .col-base-12 .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .cpl-scope .col-base-12 .col-sm-offset-9 {
    margin-left: 75%;
  }
  .cpl-scope .col-base-12 .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .cpl-scope .col-base-12 .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .cpl-scope .col-base-12 .col-sm-offset-6 {
    margin-left: 50%;
  }
  .cpl-scope .col-base-12 .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .cpl-scope .col-base-12 .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .cpl-scope .col-base-12 .col-sm-offset-3 {
    margin-left: 25%;
  }
  .cpl-scope .col-base-12 .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .cpl-scope .col-base-12 .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .cpl-scope .col-base-12 .col-sm-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 992px) {
  .cpl-scope .col-base-12 .col-md-12 {
    width: 100%;
  }
  .cpl-scope .col-base-12 .col-md-11 {
    width: 91.66666667%;
  }
  .cpl-scope .col-base-12 .col-md-10 {
    width: 83.33333333%;
  }
  .cpl-scope .col-base-12 .col-md-9 {
    width: 75%;
  }
  .cpl-scope .col-base-12 .col-md-8 {
    width: 66.66666667%;
  }
  .cpl-scope .col-base-12 .col-md-7 {
    width: 58.33333333%;
  }
  .cpl-scope .col-base-12 .col-md-6 {
    width: 50%;
  }
  .cpl-scope .col-base-12 .col-md-5 {
    width: 41.66666667%;
  }
  .cpl-scope .col-base-12 .col-md-4 {
    width: 33.33333333%;
  }
  .cpl-scope .col-base-12 .col-md-3 {
    width: 25%;
  }
  .cpl-scope .col-base-12 .col-md-2 {
    width: 16.66666667%;
  }
  .cpl-scope .col-base-12 .col-md-1 {
    width: 8.33333333%;
  }
  .cpl-scope .col-base-12 .col-md-pull-12 {
    right: 100%;
  }
  .cpl-scope .col-base-12 .col-md-pull-11 {
    right: 91.66666667%;
  }
  .cpl-scope .col-base-12 .col-md-pull-10 {
    right: 83.33333333%;
  }
  .cpl-scope .col-base-12 .col-md-pull-9 {
    right: 75%;
  }
  .cpl-scope .col-base-12 .col-md-pull-8 {
    right: 66.66666667%;
  }
  .cpl-scope .col-base-12 .col-md-pull-7 {
    right: 58.33333333%;
  }
  .cpl-scope .col-base-12 .col-md-pull-6 {
    right: 50%;
  }
  .cpl-scope .col-base-12 .col-md-pull-5 {
    right: 41.66666667%;
  }
  .cpl-scope .col-base-12 .col-md-pull-4 {
    right: 33.33333333%;
  }
  .cpl-scope .col-base-12 .col-md-pull-3 {
    right: 25%;
  }
  .cpl-scope .col-base-12 .col-md-pull-2 {
    right: 16.66666667%;
  }
  .cpl-scope .col-base-12 .col-md-pull-1 {
    right: 8.33333333%;
  }
  .cpl-scope .col-base-12 .col-md-pull-0 {
    right: auto;
  }
  .cpl-scope .col-base-12 .col-md-push-12 {
    left: 100%;
  }
  .cpl-scope .col-base-12 .col-md-push-11 {
    left: 91.66666667%;
  }
  .cpl-scope .col-base-12 .col-md-push-10 {
    left: 83.33333333%;
  }
  .cpl-scope .col-base-12 .col-md-push-9 {
    left: 75%;
  }
  .cpl-scope .col-base-12 .col-md-push-8 {
    left: 66.66666667%;
  }
  .cpl-scope .col-base-12 .col-md-push-7 {
    left: 58.33333333%;
  }
  .cpl-scope .col-base-12 .col-md-push-6 {
    left: 50%;
  }
  .cpl-scope .col-base-12 .col-md-push-5 {
    left: 41.66666667%;
  }
  .cpl-scope .col-base-12 .col-md-push-4 {
    left: 33.33333333%;
  }
  .cpl-scope .col-base-12 .col-md-push-3 {
    left: 25%;
  }
  .cpl-scope .col-base-12 .col-md-push-2 {
    left: 16.66666667%;
  }
  .cpl-scope .col-base-12 .col-md-push-1 {
    left: 8.33333333%;
  }
  .cpl-scope .col-base-12 .col-md-push-0 {
    left: auto;
  }
  .cpl-scope .col-base-12 .col-md-offset-12 {
    margin-left: 100%;
  }
  .cpl-scope .col-base-12 .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .cpl-scope .col-base-12 .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .cpl-scope .col-base-12 .col-md-offset-9 {
    margin-left: 75%;
  }
  .cpl-scope .col-base-12 .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .cpl-scope .col-base-12 .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .cpl-scope .col-base-12 .col-md-offset-6 {
    margin-left: 50%;
  }
  .cpl-scope .col-base-12 .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .cpl-scope .col-base-12 .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .cpl-scope .col-base-12 .col-md-offset-3 {
    margin-left: 25%;
  }
  .cpl-scope .col-base-12 .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .cpl-scope .col-base-12 .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .cpl-scope .col-base-12 .col-md-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1200px) {
  .cpl-scope .col-base-12 .col-lg-12 {
    width: 100%;
  }
  .cpl-scope .col-base-12 .col-lg-11 {
    width: 91.66666667%;
  }
  .cpl-scope .col-base-12 .col-lg-10 {
    width: 83.33333333%;
  }
  .cpl-scope .col-base-12 .col-lg-9 {
    width: 75%;
  }
  .cpl-scope .col-base-12 .col-lg-8 {
    width: 66.66666667%;
  }
  .cpl-scope .col-base-12 .col-lg-7 {
    width: 58.33333333%;
  }
  .cpl-scope .col-base-12 .col-lg-6 {
    width: 50%;
  }
  .cpl-scope .col-base-12 .col-lg-5 {
    width: 41.66666667%;
  }
  .cpl-scope .col-base-12 .col-lg-4 {
    width: 33.33333333%;
  }
  .cpl-scope .col-base-12 .col-lg-3 {
    width: 25%;
  }
  .cpl-scope .col-base-12 .col-lg-2 {
    width: 16.66666667%;
  }
  .cpl-scope .col-base-12 .col-lg-1 {
    width: 8.33333333%;
  }
  .cpl-scope .col-base-12 .col-lg-pull-12 {
    right: 100%;
  }
  .cpl-scope .col-base-12 .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .cpl-scope .col-base-12 .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .cpl-scope .col-base-12 .col-lg-pull-9 {
    right: 75%;
  }
  .cpl-scope .col-base-12 .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .cpl-scope .col-base-12 .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .cpl-scope .col-base-12 .col-lg-pull-6 {
    right: 50%;
  }
  .cpl-scope .col-base-12 .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .cpl-scope .col-base-12 .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .cpl-scope .col-base-12 .col-lg-pull-3 {
    right: 25%;
  }
  .cpl-scope .col-base-12 .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .cpl-scope .col-base-12 .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .cpl-scope .col-base-12 .col-lg-pull-0 {
    right: auto;
  }
  .cpl-scope .col-base-12 .col-lg-push-12 {
    left: 100%;
  }
  .cpl-scope .col-base-12 .col-lg-push-11 {
    left: 91.66666667%;
  }
  .cpl-scope .col-base-12 .col-lg-push-10 {
    left: 83.33333333%;
  }
  .cpl-scope .col-base-12 .col-lg-push-9 {
    left: 75%;
  }
  .cpl-scope .col-base-12 .col-lg-push-8 {
    left: 66.66666667%;
  }
  .cpl-scope .col-base-12 .col-lg-push-7 {
    left: 58.33333333%;
  }
  .cpl-scope .col-base-12 .col-lg-push-6 {
    left: 50%;
  }
  .cpl-scope .col-base-12 .col-lg-push-5 {
    left: 41.66666667%;
  }
  .cpl-scope .col-base-12 .col-lg-push-4 {
    left: 33.33333333%;
  }
  .cpl-scope .col-base-12 .col-lg-push-3 {
    left: 25%;
  }
  .cpl-scope .col-base-12 .col-lg-push-2 {
    left: 16.66666667%;
  }
  .cpl-scope .col-base-12 .col-lg-push-1 {
    left: 8.33333333%;
  }
  .cpl-scope .col-base-12 .col-lg-push-0 {
    left: auto;
  }
  .cpl-scope .col-base-12 .col-lg-offset-12 {
    margin-left: 100%;
  }
  .cpl-scope .col-base-12 .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .cpl-scope .col-base-12 .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .cpl-scope .col-base-12 .col-lg-offset-9 {
    margin-left: 75%;
  }
  .cpl-scope .col-base-12 .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .cpl-scope .col-base-12 .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .cpl-scope .col-base-12 .col-lg-offset-6 {
    margin-left: 50%;
  }
  .cpl-scope .col-base-12 .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .cpl-scope .col-base-12 .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .cpl-scope .col-base-12 .col-lg-offset-3 {
    margin-left: 25%;
  }
  .cpl-scope .col-base-12 .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .cpl-scope .col-base-12 .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .cpl-scope .col-base-12 .col-lg-offset-0 {
    margin-left: 0%;
  }
}
/*! Generated by Live LESS Theme Customizer */
/* Deprecated 
@gray-darker: lighten(@gray-base, 13.5%);
@gray-dark: lighten(@gray-base, 20%);
@gray: lighten(@gray-base, 33.5%);
@gray-light: lighten(@gray-base, 50%);
@gray-lighter: lighten(@gray-base, 70%);
*/
/* As success, info, warning, and danger are not really specific to our brand - shouldn't we change these to something like @color-success etc. */
/* Deprecated 
@gray-darker: lighten(@gray-base, 13.5%);
@gray-dark: lighten(@gray-base, 20%);
@gray: lighten(@gray-base, 33.5%);
@gray-light: lighten(@gray-base, 50%);
@gray-lighter: lighten(@gray-base, 70%);
*/
/* Gradients have 2+ colors so numbering them 01, 02, etc.
    linear-gradient(-45deg, #00B140, #009697)
*/
/* As success, info, warning, and danger are not really specific to our brand - shouldn't we change these to something like @color-success etc. */
.cpl-scope ::selection,
.cpl-scope *::selection {
  background-color: rgba(237, 24, 141, 0.65);
  color: #FFF;
}
.cpl-scope .ihs-header.navbar {
  margin-bottom: 0;
  /* Override - for layout purposes. */
}
.cpl-scope #body-container {
  background-color: #EAEEF3;
}
.cpl-scope #myDiv {
  background-color: #ffffff;
  min-height: 1196px;
}
.cpl-scope #site-nav,
.cpl-scope #myDiv {
  position: relative;
  padding-bottom: 4rem;
}
.cpl-scope #content-flow {
  margin-left: -1%;
}
.cpl-scope #site-meta {
  background: linear-gradient(#F0F1F2, #ffffff 95%, #ffffff);
  width: 21%;
  float: right;
  margin-right: -1%;
  padding-right: 1%;
}
.cpl-scope #site-meta #version-callout {
  background-color: #ffffff;
  border-left: 4px solid #00AB4E;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.cpl-scope #site-meta #version-callout h3 {
  padding: .4rem .5rem 0;
}
.cpl-scope #site-meta #version-callout .version-number {
  padding: 0 .5rem .4rem;
}
.cpl-scope .from-edge {
  margin-left: -1.25%;
}
.cpl-scope .to-edge {
  margin-right: -1.25%;
}
.cpl-scope hr.from-edge.to-edge {
  border-color: #00AB4E;
}
.cpl-scope address .form-horizontal {
  max-width: 400px;
}
.cpl-scope address .form-horizontal legend > .role {
  font-size: 14px;
}
.cpl-scope address .form-horizontal .control-label {
  padding-top: 0;
}
.cpl-scope address .form-horizontal .control-label ~ * {
  margin-left: 4px;
}
