<!-- 
Theme: turquoise (c)
Width: full (c)
Footer: social (c)
Add-Ons: search
Includes: branding (c)
Icons: help, feedback, settings, user (c)
-->

<header class="ihs-header navbar navbar-default navbar-static-top">
    <div class="clearfix">    
    <div class="brand pull-left" data-href="index.html">
       <div class="ihs-logo"></div>
        <h1>Jane&#700s<small>By IHS Markit</small></h1>      
    </div>  
    
    <ul class="icon-set nav navbar-nav">
        <li class="icon-area">
              <div class="icon-menu" data-toggle="dropdown">
                <svg class="ihs-icon-help"></svg>
              </div>

              <div class="dropdown-menu header right">
                <strong>HELP</strong>
                   <hr>
                  <ul class="menu-links">
                      <li><a href="#/">Action</a></li>
                      <li><a href="#/">Another action</a></li>
                      <li><a href="#/">Something else here</a></li>
                  </ul>
               <hr>
               <strong>Americas:</strong>
                <p>
                +1 (800) 447-2273<br>
                Sunday 8:00pm to Friday 8:00pm (ET)
                </p>
                <strong>Outside the US/Canada:</strong>
                <p>
                +1 (303) 858-6187
                </p>
                <strong>Europe, Middle East and Africa:</strong>
                <p>
                +44 1344 328 300<br>
                Monday 12:00am to Saturday 12:00am (UTC)
                </p>
                <strong>Asia Pacific:</strong>
                <p>
                +604 291 3600<br>
                Monday 12:00am to Saturday 12:00am (UTC)
                </p>
                <p>
                <a href="mailto:customercare@ihsmarkit.com" class="email">CustomerCare@ihsmarkit.com</a>
                </p>
              </div>
        </li>
        <li class="icon-area">
          <div class="icon-menu" data-toggle="dropdown">
            <svg class="ihs-icon-feedback"></svg>
          </div>  
          <div class="dropdown-menu header right">
              <ul class="menu-links">
                  <li><a href="#/">Action</a></li>
                  <li><a href="#/">Another action</a></li>
                  <li><a href="#/">Something else here</a></li>
                  <li><a href="#/">Separated link</a></li>
              </ul>
          </div> 
        </li>
        <li class="icon-area">
              <div class="icon-menu" data-toggle="dropdown">
                <svg class="ihs-icon-settings"></svg>
              </div>  
              <div class="dropdown-menu header right">
                  <ul class="menu-links">
                      <li><a href="#/">Action</a></li>
                      <li><a href="#/">Another action</a></li>
                      <li><a href="#/">Something else here</a></li>
                      <li><a href="#/">Separated link</a></li>
                  </ul>
              </div> 
        </li>
        <li class="icon-area">
              <div class="icon-menu" data-toggle="dropdown">
                <svg class="ihs-icon-admin" data-toggle="drop down"></svg>  
                <span class="greeting">Hi User</span>
              </div>

               <div class="dropdown-menu header right">
                  <ul class="menu-links">
                      <li><a href="#/">Log Out</a></li>
                      <li><a href="#/">About Product</a></li>
                      <hr>
                      <li><a href="#/">Entitlement 1</a></li>
                      <li><a href="#/">Entitlement 2</a></li>
                      <li><a href="#/">Entitlement 3</a></li>
                  </ul>
              </div>
        </li>
    </ul>

    </div>
          
     <ul class="ihs-menu nav navbar-nav navbar-turquoise">
        <li class="active"><a href="#/">Home</a></li>
        <li><a href="#/">Dashboards</a></li>
        <li><a href="#/">Search Tools</a></li>
        <li><a href="#/">Products</a></li>
        <li><a href="#/">My Services</a></li>
        <li><a href="#/">Customer Care</a></li>
        <li class="pull-right"><a href="#/">Event Map</a></li>
    </ul>
</header>

<section>
    <!-- Placeholder for loading views -->
      <div class="screenshot">
        
    </div>
</section>

<div class="footer footer-social ">  
    <div class="social-icons">
        <i><svg class="ihs-icon-facebook"></svg></i>
        <i><svg class="ihs-icon-twitter"></svg></i>
        <i><svg class="ihs-icon-linkedin"></svg></i>
        <i><svg class="ihs-icon-youtube"></svg></i>
    </div>
    
    <div class="copyright-links">
        <ul>
           <li><a href="#/">Terms of Use</a></li>
           <li>|</li>
           <li><a href="#/">Privacy Policy</a></li>
           <li>|</li>
           <li><a href="#/">Customer Care</a></li>
        </ul>
        <small> &copy; 2017, IHS Markit. All rights reserved. Reproduction in whole or part without permission is prohibited.</small>
        
    </div>
    
    <div class="logo pull-right">
        <div class="ihs-logo"></div>
        <h1>IHS Markit</h1>
    </div>
  
</div>
