<!-- 
Theme: turquoise (c)
Width: full (c)
Footer: social (c)
Add-Ons: search (c)
Includes: none (c)
Icons: help, user (c)
-->

<header class="ihs-header navbar navbar-default navbar-static-top">
        
    <div class="brand pull-left" data-href="index.html">
       <div class="ihs-logo"></div>
        <h1>Petroleum Economics and Policy Solutions</h1>
    </div>                        
 
    <ul class="icon-set nav navbar-nav">
        
        <li class="search-area">
            <div class="input-group search-group">

            <input type="hidden" name="search-param" value="all" id="search-param">         
            <input type="text" class="form-control short typeahead" name="x" placeholder="Search term...">

            <span class="input-group-btn">
                <button class="btn btn-icon" type="button"><svg class="ihs-icon-search"></svg></button>
            </span>
            </div>
        </li>
               
        <li class="icon-area">
              <div class="icon-menu" data-toggle="dropdown">
                <svg class="ihs-icon-help"></svg>
              </div>

              <div class="dropdown-menu header right">
                <strong>HELP</strong>
                   <hr>
                  <ul class="menu-links">
                      <li><a href="#/">Action</a></li>
                      <li><a href="#/">Another action</a></li>
                      <li><a href="#/">Something else here</a></li>
                  </ul>
               <hr>
               <strong>Americas:</strong>
                <p>
                +1 (800) 447-2273<br>
                Sunday 8:00pm to Friday 8:00pm (ET)
                </p>
                <strong>Outside the US/Canada:</strong>
                <p>
                +1 (303) 858-6187
                </p>
                <strong>Europe, Middle East and Africa:</strong>
                <p>
                +44 1344 328 300<br>
                Monday 12:00am to Saturday 12:00am (UTC)
                </p>
                <strong>Asia Pacific:</strong>
                <p>
                +604 291 3600<br>
                Monday 12:00am to Saturday 12:00am (UTC)
                </p>
                <p>
                <a href="mailto:customercare@ihsmarkit.com" class="email">CustomerCare@ihsmarkit.com</a>
                </p>
              </div>
        </li>
        <li class="icon-area">
              <div class="icon-menu" data-toggle="dropdown">
                <svg class="ihs-icon-admin" data-toggle="drop down"></svg>  
                <span class="greeting">Hi User</span>
              </div>

               <div class="dropdown-menu header right">
                  <ul class="menu-links">
                      <li><a href="#/">Log Out</a></li>
                      <li><a href="#/">About Product</a></li>
                      <hr>
                      <li><a href="#/">Entitlement 1</a></li>
                      <li><a href="#/">Entitlement 2</a></li>
                      <li><a href="#/">Entitlement 3</a></li>
                  </ul>
              </div>
        </li>
    </ul>
             
     <ul class="ihs-menu nav navbar-nav navbar-turquoise">
        <li class="active"><a href="#/">Tab 1 Name</a></li>
        <li><a href="#/">Tab 2 Name</a></li>
        <li><a href="#/">Tab 3 Name</a></li>
        <li><a href="#/">Tab 4 Name</a></li>
        <li><a href="#/">Tab 5 Name</a></li>
        <li><a href="#/">Tab 6 Name</a></li>
        <li class="pull-right"><a href="#/">My Tab Name</a></li>
    </ul>
</header>

<section>
    <!-- Placeholder for loading views -->
      <div class="screenshot">
        
    </div>
</section>

<div class="footer footer-social ">  
     <div class="social-icons">
        <i><svg class="ihs-icon-facebook"></svg></i>
        <i><svg class="ihs-icon-twitter"></svg></i>
        <i><svg class="ihs-icon-linkedin"></svg></i>
        <i><svg class="ihs-icon-youtube"></svg></i>
    </div>
    
    <div class="copyright-links">
        <ul>
           <li><a href="#/">Terms of Use</a></li>
           <li>|</li>
           <li><a href="#/">Privacy Policy</a></li>
           <li>|</li>
           <li><a href="#/">Customer Care</a></li>
        </ul>
        <small> &copy; 2017, IHS Markit. All rights reserved. Reproduction in whole or part without permission is prohibited.</small>
        
    </div>
    
    <div class="logo pull-right">
        <div class="ihs-logo"></div>
        <h1>IHS Markit</h1>
    </div>
  
</div>

<!-- Javascript Scaffolding -->
