<!--
Theme: blue (c)
Width: full (c)
Footer: expandable (c)
Add-Ons: search (c)
Includes: verNo (c)
Icons: help, settings, user (c)
-->

<header class="ihs-header navbar navbar-default navbar-static-top">

    <div class="brand pull-left" data-href="index.html">
       <div class="ihs-logo"></div>
        <h1>BOM Intelligence <span>v1.0</span></h1>
        <!-- <small>Historical</small>-->
    </div>

    <ul class="icon-set nav navbar-nav">

        <li class="search-area">
          <!--  <div class="input-group search-group">

            <div class="input-group-btn">
                <button type="button" class="btn btn-deemphasized btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Filter <span class="ihs-icon-arrow rotate-270"></span></button>
                <ul class="dropdown-menu">
                  <li><a href="#">My Content</a></li>
                  <li><a href="#">All Content</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </div>

            <input type="hidden" name="search-param" value="all" id="search-param">
            <input type="text" class="form-control short typeahead" name="x" placeholder="Search term...">

            <span class="input-group-btn">
                <button class="btn btn-icon" type="button"><span class="ihs-icon-search"></span></button>
            </span>
            </div>-->
        <div class="input-group search-group">
            <span class="input-group-addon" id="ew-caret-picker" data-toggle="dropdown">
                <svg class="caret rotate-270"></svg>
            </span>

            <ul class="dropdown-menu" role="menu">
                <li><a href="#">Filter 1</a></li>
                <li><a href="#">Filter 2</a></li>
                <li><a href="#">Filter 3</a></li>
            </ul>

           <input type="hidden" name="search-param" value="all" id="search-param">
            <input type="text" class="form-control short typeahead" name="x" placeholder="Enter Part/Content">

            <span class="input-group-btn">
                <button class="btn btn-icon" type="button"><svg class="ihs-icon-search"></svg></button>
            </span>

        </div>
        </li>

        <li class="icon-area">
              <div class="icon-menu" data-toggle="dropdown">
                <svg class="ihs-icon-help"></svg>
              </div>

              <div class="dropdown-menu header right">
                <strong>HELP</strong>
                   <hr>
                  <ul class="menu-links">
                      <li><a href="#/">Action</a></li>
                      <li><a href="#/">Another action</a></li>
                      <li><a href="#/">Something else here</a></li>
                  </ul>
               <hr>
               <strong>Americas:</strong>
                <p>
                +1 (800) 447-2273<br>
                Sunday 8:00pm to Friday 8:00pm (ET)
                </p>
                <strong>Outside the US/Canada:</strong>
                <p>
                +1 (303) 858-6187
                </p>
                <strong>Europe, Middle East and Africa:</strong>
                <p>
                +44 1344 328 300<br>
                Monday 12:00am to Saturday 12:00am (UTC)
                </p>
                <strong>Asia Pacific:</strong>
                <p>
                +604 291 3600<br>
                Monday 12:00am to Saturday 12:00am (UTC)
                </p>
                <p>
                <a href="mailto:customercare@ihsmarkit.com" class="email">CustomerCare@ihsmarkit.com</a>
                </p>
              </div>
        </li>
        <li class="icon-area">
              <div class="icon-menu" data-toggle="dropdown">
                <svg class="ihs-icon-settings"></svg>
              </div>
              <div class="dropdown-menu header right">
                  <ul class="menu-links">
                      <li><a href="#/">Action</a></li>
                      <li><a href="#/">Another action</a></li>
                      <li><a href="#/">Something else here</a></li>
                      <li><a href="#/">Separated link</a></li>
                  </ul>
              </div>
        </li>
        <li class="icon-area">
              <div class="icon-menu" data-toggle="dropdown">
                <svg class="ihs-icon-admin" data-toggle="drop down"></svg>
                <span class="greeting">Hi User</span>
              </div>

               <div class="dropdown-menu header right">
                  <ul class="menu-links">
                      <li><a href="#/">Log Out</a></li>
                      <li><a href="#/">About Product</a></li>
                      <hr>
                      <li><a href="#/">Entitlement 1</a></li>
                      <li><a href="#/">Entitlement 2</a></li>
                      <li><a href="#/">Entitlement 3</a></li>
                  </ul>
              </div>
        </li>
    </ul>

     <ul class="ihs-menu nav navbar-nav navbar-blue">
        <li><a href="#/">Home</a></li>
        <li><a href="#/">BOMs</a></li>
        <li><a href="#/">Import</a></li>
        <li><a href="#/">Alerts</a></li>
        <li><a href="#/">Notes</a></li>
        <li><a href="#/">Reports</a></li>
         <li><a href="#/">Corporate Data</a></li>
         <li><a href="#/">Knowledge Base</a></li>
         <li><a href="#/">Search</a></li>
        <li class="pull-right active"><a href="#/">My Workspace</a></li>
    </ul>
</header>

<section>
    <!-- Placeholder for loading views -->
    <div class="screenshot">

    </div>
</section>

<div class="footer footer-small">
    <div class="footer-control rotate-90" id="footer-toggle">
        <svg class="ihs-icon-chevron"></svg>
    </div>
    <div class="copyright-links">
        <small> &copy; 2017, IHS Markit. All rights reserved. Reproduction in whole or part without permission is prohibited.</small>
        <ul>
               <li><a href="#/">Terms of Use</a></li>
               <li>|</li>
               <li><a href="#/">Privacy Policy</a></li>
               <li>|</li>
               <li><a href="#/">Customer Care</a></li>
        </ul>
    </div>
    <div class="logo pull-right">
        <div class="ihs-logo"></div>
        <h1>IHS Markit</h1>
    </div>
</div>

<!-- Javascript Scaffolding -->
