    <link rel="stylesheet" href="../css/styles-hybrid.css">
<header class="ihs-header navbar navbar-default navbar-static-top">
        
    <div class="brand pull-left" data-href="index.html">
       <div class="ihs-logo"></div>
        <!-- <h1>Product Name </h1><span>Version Number</span>
        <small>Historical</small>-->
    </div>                        
          
     <ul class="ihs-menu nav navbar-nav navbar-blue">
        <li class="active"><a href="#/">Tab 1 Name</a></li>
        <li><a href="#/">Tab 2 Name</a></li>
        <li><a href="#/">Tab 3 Name</a></li>
        <li><a href="#/">Tab 4 Name</a></li>
        <li><a href="#/">Tab 5 Name</a></li>
        <li><a href="#/">Tab 6 Name</a></li>
        <li class="pull-right"><a href="#/">My Tab Name</a></li>
    </ul>
</header>

<section>
    <!-- Placeholder for loading views -->
    <div class="container"></div>
</section>


<div class="footer footer-small navbar-fixed-bottom">
    <span class="ihs-icon-chevron pull-right rotate-90"></span>
    <small> &copy; 2017, IHS Markit Inc. All rights reserved. Reproduction in whole or part without permission is prohibited.</small>
    <ul>
       <li><a href="#/">Terms of Use</a></li>
       <li>|</li>
       <li><a href="#/">Privacy Policy</a></li>
       <li>|</li>
       <li><a href="#/">Customer Care</a></li>
    </ul>
</div>

<!-- Javascript Scaffolding -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/svg-url.js"></script>
<script src="../js/svg-cache.js"></script>
</body>
</html>
