body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:510px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5728_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:479px;
  height:280px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:28px;
}
#u5728 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:66px;
  width:479px;
  height:280px;
  line-height:28px;
}
#u5728_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  white-space:nowrap;
}
#u5729_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5729 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:17px;
  width:306px;
  height:28px;
}
#u5729_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  white-space:nowrap;
}
