body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1271px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1271px;
  height:647px;
}
#u11191 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1271px;
  height:647px;
}
#u11191_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11192 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:50px;
  width:100px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u11193 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11194_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1007px;
  height:451px;
}
#u11194 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:79px;
  width:1007px;
  height:451px;
}
#u11194_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11195 {
  border-width:0px;
  position:absolute;
  left:792px;
  top:137px;
  width:179px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
