body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1212px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11581_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11581 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:166px;
  width:160px;
  height:25px;
}
#u11581_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11582_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11582 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:166px;
  width:117px;
  height:25px;
}
#u11582_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11583 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11584_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u11584 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:7px;
  width:34px;
  height:34px;
}
#u11584_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11585_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1202px;
  height:23px;
}
#u11585 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:46px;
  width:1202px;
  height:23px;
}
#u11585_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11586_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:26px;
}
#u11586 {
  border-width:0px;
  position:absolute;
  left:665px;
  top:10px;
  width:265px;
  height:26px;
}
#u11586_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11587_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u11587 {
  border-width:0px;
  position:absolute;
  left:968px;
  top:12px;
  width:20px;
  height:20px;
}
#u11587_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11588_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u11588 {
  border-width:0px;
  position:absolute;
  left:1028px;
  top:12px;
  width:20px;
  height:20px;
}
#u11588_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11589_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u11589 {
  border-width:0px;
  position:absolute;
  left:1085px;
  top:13px;
  width:20px;
  height:20px;
}
#u11589_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11590_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11590 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:10px;
  width:86px;
  height:15px;
}
#u11590_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u11591_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:64px;
  height:10px;
}
#u11591 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:31px;
  width:59px;
  height:5px;
}
#u11591_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11592_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:64px;
  height:10px;
}
#u11592 {
  border-width:0px;
  position:absolute;
  left:1139px;
  top:21px;
  width:59px;
  height:5px;
}
#u11592_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11593_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:26px;
}
#u11593 {
  border-width:0px;
  position:absolute;
  left:906px;
  top:10px;
  width:22px;
  height:26px;
}
#u11593_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11594_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#006699;
}
#u11594 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:98px;
  width:412px;
  height:18px;
  font-size:16px;
  color:#006699;
}
#u11594_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  white-space:nowrap;
}
#u11595_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u11595 {
  border-width:0px;
  position:absolute;
  left:409px;
  top:128px;
  width:24px;
  height:24px;
}
#u11595_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11596_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:24px;
}
#u11596 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:128px;
  width:407px;
  height:24px;
}
#u11596_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11597_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:10px;
}
#u11597 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:174px;
  width:6px;
  height:10px;
}
#u11597_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11598_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u11598 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:172px;
  width:76px;
  height:14px;
  font-size:12px;
}
#u11598_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u11599_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:10px;
}
#u11599 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:174px;
  width:6px;
  height:10px;
}
#u11599_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11600_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u11600 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:172px;
  width:125px;
  height:14px;
  font-size:12px;
}
#u11600_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u11601_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u11601 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:134px;
  width:63px;
  height:14px;
  font-size:12px;
  color:#999999;
}
#u11601_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u11602_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:846px;
  height:240px;
}
#u11602 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:190px;
  width:846px;
  height:240px;
}
#u11602_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11603_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:251px;
}
#u11603 {
  border-width:0px;
  position:absolute;
  left:894px;
  top:107px;
  width:318px;
  height:251px;
}
#u11603_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11604_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11604 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:166px;
  width:146px;
  height:25px;
}
#u11604_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11605_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:10px;
}
#u11605 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:174px;
  width:6px;
  height:10px;
}
#u11605_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11606_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u11606 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:172px;
  width:96px;
  height:14px;
  font-size:12px;
}
#u11606_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u11607_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:24px;
}
#u11607 {
  border-width:0px;
  position:absolute;
  left:762px;
  top:384px;
  width:72px;
  height:24px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u11607_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:68px;
  word-wrap:break-word;
}
.u11609 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3100px;
  height:30px;
}
.u11610_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
.u11610 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  font-size:11px;
  text-align:left;
}
.u11610_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u11611_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
.u11611 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
  font-size:11px;
  text-align:left;
}
.u11611_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u11612_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
.u11612 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
  font-size:11px;
  text-align:left;
}
.u11612_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u11613_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
.u11613 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
  font-size:11px;
  text-align:left;
}
.u11613_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u11614_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
.u11614 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:30px;
  font-size:11px;
  text-align:left;
}
.u11614_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u11615_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
.u11615 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:30px;
  font-size:11px;
  text-align:left;
}
.u11615_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u11616_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
.u11616 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:0px;
  width:100px;
  height:30px;
  font-size:11px;
  text-align:left;
}
.u11616_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u11617_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
.u11617 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:0px;
  width:100px;
  height:30px;
  font-size:11px;
  text-align:left;
}
.u11617_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u11618_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
.u11618 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:0px;
  width:100px;
  height:30px;
  font-size:11px;
  text-align:left;
}
.u11618_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u11619_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
.u11619 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:0px;
  width:100px;
  height:30px;
  font-size:11px;
  text-align:left;
}
.u11619_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u11620_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
.u11620 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:0px;
  width:100px;
  height:30px;
  font-size:11px;
  text-align:left;
}
.u11620_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u11621_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
.u11621 {
  border-width:0px;
  position:absolute;
  left:1100px;
  top:0px;
  width:100px;
  height:30px;
  font-size:11px;
  text-align:left;
}
.u11621_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u11622_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
.u11622 {
  border-width:0px;
  position:absolute;
  left:1200px;
  top:0px;
  width:100px;
  height:30px;
  font-size:11px;
  text-align:left;
}
.u11622_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u11623_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
.u11623 {
  border-width:0px;
  position:absolute;
  left:1300px;
  top:0px;
  width:100px;
  height:30px;
  font-size:11px;
  text-align:left;
}
.u11623_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u11624_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
.u11624 {
  border-width:0px;
  position:absolute;
  left:1400px;
  top:0px;
  width:100px;
  height:30px;
  font-size:11px;
  text-align:left;
}
.u11624_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u11625_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
.u11625 {
  border-width:0px;
  position:absolute;
  left:1500px;
  top:0px;
  width:100px;
  height:30px;
  font-size:11px;
  text-align:left;
}
.u11625_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u11626_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
.u11626 {
  border-width:0px;
  position:absolute;
  left:1600px;
  top:0px;
  width:100px;
  height:30px;
  font-size:11px;
  text-align:left;
}
.u11626_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u11627_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
.u11627 {
  border-width:0px;
  position:absolute;
  left:1700px;
  top:0px;
  width:100px;
  height:30px;
  font-size:11px;
  text-align:left;
}
.u11627_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u11628_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
.u11628 {
  border-width:0px;
  position:absolute;
  left:1800px;
  top:0px;
  width:100px;
  height:30px;
  font-size:11px;
  text-align:left;
}
.u11628_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u11629_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
.u11629 {
  border-width:0px;
  position:absolute;
  left:1900px;
  top:0px;
  width:100px;
  height:30px;
  font-size:11px;
  text-align:left;
}
.u11629_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u11630_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
.u11630 {
  border-width:0px;
  position:absolute;
  left:2000px;
  top:0px;
  width:100px;
  height:30px;
  font-size:11px;
  text-align:left;
}
.u11630_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u11631_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
.u11631 {
  border-width:0px;
  position:absolute;
  left:2100px;
  top:0px;
  width:100px;
  height:30px;
  font-size:11px;
  text-align:left;
}
.u11631_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u11632_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
.u11632 {
  border-width:0px;
  position:absolute;
  left:2200px;
  top:0px;
  width:100px;
  height:30px;
  font-size:11px;
  text-align:left;
}
.u11632_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u11633_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
.u11633 {
  border-width:0px;
  position:absolute;
  left:2300px;
  top:0px;
  width:100px;
  height:30px;
  font-size:11px;
  text-align:left;
}
.u11633_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u11634_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
.u11634 {
  border-width:0px;
  position:absolute;
  left:2400px;
  top:0px;
  width:100px;
  height:30px;
  font-size:11px;
  text-align:left;
}
.u11634_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u11635_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
.u11635 {
  border-width:0px;
  position:absolute;
  left:2500px;
  top:0px;
  width:100px;
  height:30px;
  font-size:11px;
  text-align:left;
}
.u11635_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u11636_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
.u11636 {
  border-width:0px;
  position:absolute;
  left:2600px;
  top:0px;
  width:100px;
  height:30px;
  font-size:11px;
  text-align:left;
}
.u11636_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u11637_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
.u11637 {
  border-width:0px;
  position:absolute;
  left:2700px;
  top:0px;
  width:100px;
  height:30px;
  font-size:11px;
  text-align:left;
}
.u11637_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u11638_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
.u11638 {
  border-width:0px;
  position:absolute;
  left:2800px;
  top:0px;
  width:100px;
  height:30px;
  font-size:11px;
  text-align:left;
}
.u11638_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u11639_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
.u11639 {
  border-width:0px;
  position:absolute;
  left:2900px;
  top:0px;
  width:100px;
  height:30px;
  font-size:11px;
  text-align:left;
}
.u11639_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u11640_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
.u11640 {
  border-width:0px;
  position:absolute;
  left:3000px;
  top:0px;
  width:100px;
  height:30px;
  font-size:11px;
  text-align:left;
}
.u11640_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11608-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3100px;
  height:30px;
}
#u11608-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:3100px;
  height:30px;
}
#u11608-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:3100px;
  height:30px;
}
#u11608-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:3100px;
  height:30px;
}
#u11608-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:3100px;
  height:30px;
}
#u11608-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:3100px;
  height:30px;
}
#u11608-7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:180px;
  width:3100px;
  height:30px;
}
#u11608-8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:210px;
  width:3100px;
  height:30px;
}
#u11608-9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:240px;
  width:3100px;
  height:30px;
}
#u11608-10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:270px;
  width:3100px;
  height:30px;
}
#u11608-11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:300px;
  width:3100px;
  height:30px;
}
#u11608-12 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:330px;
  width:3100px;
  height:30px;
}
#u11608-13 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:360px;
  width:3100px;
  height:30px;
}
#u11608-14 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:390px;
  width:3100px;
  height:30px;
}
#u11608-15 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:420px;
  width:3100px;
  height:30px;
}
#u11608-16 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:450px;
  width:3100px;
  height:30px;
}
#u11608-17 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:480px;
  width:3100px;
  height:30px;
}
#u11608-18 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:510px;
  width:3100px;
  height:30px;
}
#u11608-19 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:540px;
  width:3100px;
  height:30px;
}
#u11608-20 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:570px;
  width:3100px;
  height:30px;
}
#u11608-21 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:600px;
  width:3100px;
  height:30px;
}
#u11608-22 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:630px;
  width:3100px;
  height:30px;
}
#u11608-23 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:660px;
  width:3100px;
  height:30px;
}
#u11608-24 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:690px;
  width:3100px;
  height:30px;
}
#u11608-25 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:720px;
  width:3100px;
  height:30px;
}
#u11608-26 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:750px;
  width:3100px;
  height:30px;
}
#u11608-27 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:780px;
  width:3100px;
  height:30px;
}
#u11608-28 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:810px;
  width:3100px;
  height:30px;
}
#u11608 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:478px;
  width:3100px;
  height:840px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u11641 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:449px;
  width:3966px;
  height:29px;
}
#u11642_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:29px;
}
#u11642 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:29px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u11642_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:124px;
  word-wrap:break-word;
}
#u11643_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:29px;
}
#u11643 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:0px;
  width:87px;
  height:29px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u11643_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:83px;
  word-wrap:break-word;
}
#u11644_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:29px;
}
#u11644 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:0px;
  width:82px;
  height:29px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u11644_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:78px;
  word-wrap:break-word;
}
#u11645_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:29px;
}
#u11645 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:0px;
  width:151px;
  height:29px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u11645_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:147px;
  word-wrap:break-word;
}
#u11646_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:29px;
}
#u11646 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:0px;
  width:130px;
  height:29px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u11646_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:126px;
  word-wrap:break-word;
}
#u11647_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:29px;
}
#u11647 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:0px;
  width:106px;
  height:29px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u11647_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:102px;
  word-wrap:break-word;
}
#u11648_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:29px;
}
#u11648 {
  border-width:0px;
  position:absolute;
  left:684px;
  top:0px;
  width:146px;
  height:29px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u11648_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:142px;
  word-wrap:break-word;
}
#u11649_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:29px;
}
#u11649 {
  border-width:0px;
  position:absolute;
  left:830px;
  top:0px;
  width:94px;
  height:29px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u11649_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:90px;
  word-wrap:break-word;
}
#u11650_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:29px;
}
#u11650 {
  border-width:0px;
  position:absolute;
  left:924px;
  top:0px;
  width:145px;
  height:29px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u11650_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:141px;
  word-wrap:break-word;
}
#u11651_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:29px;
}
#u11651 {
  border-width:0px;
  position:absolute;
  left:1069px;
  top:0px;
  width:81px;
  height:29px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u11651_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:77px;
  word-wrap:break-word;
}
#u11652_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:29px;
}
#u11652 {
  border-width:0px;
  position:absolute;
  left:1150px;
  top:0px;
  width:83px;
  height:29px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u11652_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:79px;
  word-wrap:break-word;
}
#u11653_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:29px;
}
#u11653 {
  border-width:0px;
  position:absolute;
  left:1233px;
  top:0px;
  width:138px;
  height:29px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u11653_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:134px;
  word-wrap:break-word;
}
#u11654_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:29px;
}
#u11654 {
  border-width:0px;
  position:absolute;
  left:1371px;
  top:0px;
  width:122px;
  height:29px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u11654_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:118px;
  word-wrap:break-word;
}
#u11655_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:29px;
}
#u11655 {
  border-width:0px;
  position:absolute;
  left:1493px;
  top:0px;
  width:147px;
  height:29px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u11655_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:143px;
  word-wrap:break-word;
}
#u11656_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:29px;
}
#u11656 {
  border-width:0px;
  position:absolute;
  left:1640px;
  top:0px;
  width:92px;
  height:29px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u11656_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:88px;
  word-wrap:break-word;
}
#u11657_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:29px;
}
#u11657 {
  border-width:0px;
  position:absolute;
  left:1732px;
  top:0px;
  width:115px;
  height:29px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u11657_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:111px;
  word-wrap:break-word;
}
#u11658_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:29px;
}
#u11658 {
  border-width:0px;
  position:absolute;
  left:1847px;
  top:0px;
  width:76px;
  height:29px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u11658_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:72px;
  word-wrap:break-word;
}
#u11659_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:29px;
}
#u11659 {
  border-width:0px;
  position:absolute;
  left:1923px;
  top:0px;
  width:95px;
  height:29px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u11659_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u11660_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:29px;
}
#u11660 {
  border-width:0px;
  position:absolute;
  left:2018px;
  top:0px;
  width:147px;
  height:29px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u11660_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:143px;
  word-wrap:break-word;
}
#u11661_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:29px;
}
#u11661 {
  border-width:0px;
  position:absolute;
  left:2165px;
  top:0px;
  width:70px;
  height:29px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u11661_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:66px;
  word-wrap:break-word;
}
#u11662_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:29px;
}
#u11662 {
  border-width:0px;
  position:absolute;
  left:2235px;
  top:0px;
  width:113px;
  height:29px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u11662_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:109px;
  word-wrap:break-word;
}
#u11663_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:29px;
}
#u11663 {
  border-width:0px;
  position:absolute;
  left:2348px;
  top:0px;
  width:118px;
  height:29px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u11663_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:114px;
  word-wrap:break-word;
}
#u11664_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:29px;
}
#u11664 {
  border-width:0px;
  position:absolute;
  left:2466px;
  top:0px;
  width:120px;
  height:29px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u11664_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  word-wrap:break-word;
}
#u11665_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:29px;
}
#u11665 {
  border-width:0px;
  position:absolute;
  left:2586px;
  top:0px;
  width:128px;
  height:29px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u11665_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:124px;
  word-wrap:break-word;
}
#u11666_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:29px;
}
#u11666 {
  border-width:0px;
  position:absolute;
  left:2714px;
  top:0px;
  width:152px;
  height:29px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u11666_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:148px;
  word-wrap:break-word;
}
#u11667_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:29px;
}
#u11667 {
  border-width:0px;
  position:absolute;
  left:2866px;
  top:0px;
  width:186px;
  height:29px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u11667_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:182px;
  word-wrap:break-word;
}
#u11668_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:29px;
}
#u11668 {
  border-width:0px;
  position:absolute;
  left:3052px;
  top:0px;
  width:179px;
  height:29px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u11668_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:175px;
  word-wrap:break-word;
}
#u11669_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:29px;
}
#u11669 {
  border-width:0px;
  position:absolute;
  left:3231px;
  top:0px;
  width:186px;
  height:29px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u11669_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:182px;
  word-wrap:break-word;
}
#u11670_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:29px;
}
#u11670 {
  border-width:0px;
  position:absolute;
  left:3417px;
  top:0px;
  width:222px;
  height:29px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u11670_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:218px;
  word-wrap:break-word;
}
#u11671_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:29px;
}
#u11671 {
  border-width:0px;
  position:absolute;
  left:3639px;
  top:0px;
  width:170px;
  height:29px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u11671_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:166px;
  word-wrap:break-word;
}
#u11672_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:29px;
}
#u11672 {
  border-width:0px;
  position:absolute;
  left:3809px;
  top:0px;
  width:157px;
  height:29px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u11672_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:153px;
  word-wrap:break-word;
}
