.ax_default {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.heading_1 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.heading_4 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.heading_5 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
.heading_6 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.paragraph {
  text-align:left;
}
.box_1 {
}
.box_2 {
}
.box_3 {
}
.ellipse {
}
.placeholder {
}
.button {
}
.label {
  font-size:14px;
  text-align:left;
}
.droplist {
  font-size:13px;
  color:#000000;
  text-align:left;
}
.ihs-_h2 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#404041;
  text-align:left;
}
.ihs-_body {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#404041;
  text-align:left;
}
.ihs_-_special_use {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#404041;
  text-align:left;
}
.image {
}
.ihs_-_h1 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#404041;
  text-align:left;
}
.line {
}
.checkbox {
  text-align:left;
}
.radio_button {
  text-align:left;
}
.html_button {
  text-align:center;
}
.tree_node {
  text-align:left;
}
.flow_shape {
}
.shape {
}
.text_field {
  color:#000000;
  text-align:left;
}
.radio_button1 {
  font-size:13px;
  color:#000000;
  text-align:left;
}
.shape1 {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.table {
  font-size:13px;
  color:#000000;
  text-align:left;
}
.table_cell {
  font-size:13px;
  color:#000000;
}
.table_cell1 {
}
.connector {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.menu_item {
}
.sticky_3 {
  text-align:left;
}
.sticky_4 {
  text-align:left;
}
.icon {
}
.text_field1 {
  color:#000000;
  text-align:left;
}
.text_area {
  color:#000000;
  text-align:left;
}
.image1 {
  color:#000000;
}
.droplist1 {
  color:#000000;
  text-align:left;
}
.list_box {
  color:#000000;
  text-align:left;
}
.shape2 {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0063B6;
  text-align:left;
  line-height:normal;
}
.vertical_line {
}
.horizontal_line {
}
.paragraph1 {
  text-align:left;
}
.heading_11 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.primary_button {
  color:#FFFFFF;
}
.link_button {
  color:#169BD5;
}
.snapshot {
}
.sticky_1 {
  text-align:left;
}
