body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2298px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1761_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1116px;
  height:510px;
}
#u1761 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:703px;
  width:1116px;
  height:510px;
}
#u1761_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1762_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1116px;
  height:628px;
}
#u1762 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:61px;
  width:1116px;
  height:628px;
}
#u1762_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1763_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1117px;
  height:628px;
}
#u1763 {
  border-width:0px;
  position:absolute;
  left:1181px;
  top:61px;
  width:1117px;
  height:628px;
}
#u1763_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1764_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1026px;
  height:508px;
}
#u1764 {
  border-width:0px;
  position:absolute;
  left:1181px;
  top:705px;
  width:1026px;
  height:508px;
}
#u1764_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1765_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1765 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:18px;
  width:105px;
  height:21px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1765_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  white-space:nowrap;
}
#u1766_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#006633;
}
#u1766 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:21px;
  width:24px;
  height:14px;
  font-size:10px;
  color:#006633;
}
#u1766_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
