body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1238px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7602_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1113px;
  height:551px;
}
#u7602 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:51px;
  width:1113px;
  height:551px;
}
#u7602_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7603_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u7603 {
  border-width:0px;
  position:absolute;
  left:1018px;
  top:896px;
  width:217px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u7603_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  white-space:nowrap;
}
#u7604 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:1222px;
  width:1028px;
  height:600px;
}
#u7604_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1028px;
  height:600px;
}
#u7604_ref {
  border-width:0px;
  position:absolute;
  left:1032px;
  top:1812px;
  width:1px;
  height:1px;
}
#u7605_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:74px;
  height:19px;
}
#u7605p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:70px;
  height:6px;
}
#u7605p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:6px;
}
#u7605p001 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-9px;
  width:22px;
  height:20px;
}
#u7605p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u7605p002 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:-1px;
  width:4px;
  height:4px;
}
#u7605p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u7605 {
  border-width:0px;
  position:absolute;
  left:935px;
  top:905px;
  width:64px;
  height:1px;
}
#u7605_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7606_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  color:#000000;
}
#u7606 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:1290px;
  width:55px;
  height:16px;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  color:#000000;
}
#u7606_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u7607_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:903px;
  height:585px;
}
#u7607 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:671px;
  width:903px;
  height:585px;
}
#u7607_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7608 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:923px;
  width:254px;
  height:55px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7609 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:981px;
  width:254px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7610 {
  border-width:0px;
  position:absolute;
  left:461px;
  top:671px;
  width:254px;
  height:55px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7611 {
  border-width:0px;
  position:absolute;
  left:461px;
  top:872px;
  width:254px;
  height:55px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7612_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7612 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:14px;
  width:219px;
  height:21px;
}
#u7612_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  white-space:nowrap;
}
#u7613_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
}
#u7613 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:637px;
  width:163px;
  height:16px;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
}
#u7613_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u7614_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7614 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:566px;
  width:293px;
  height:17px;
}
#u7614_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7615_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:2px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7615 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:564px;
  width:81px;
  height:22px;
}
#u7615_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:77px;
  word-wrap:break-word;
}
#u7616_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u7616 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:568px;
  width:41px;
  height:14px;
  font-size:12px;
}
#u7616_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u7617_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:8px;
}
#u7617 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:572px;
  width:12px;
  height:8px;
}
#u7617_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7618_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:538px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7618 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:528px;
  width:538px;
  height:28px;
}
#u7618_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7619_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7619 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:534px;
  width:355px;
  height:16px;
}
#u7619_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  white-space:nowrap;
}
