body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:879px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5726_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5726 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:66px;
  width:848px;
  height:93px;
}
#u5726_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:802px;
  white-space:nowrap;
}
#u5727_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5727 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:17px;
  width:306px;
  height:28px;
}
#u5727_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  white-space:nowrap;
}
