body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:933px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10268_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:911px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10268 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:16px;
  width:911px;
  height:28px;
}
#u10268_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:911px;
  word-wrap:break-word;
}
#u10269_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:215px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10269 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:55px;
  width:438px;
  height:215px;
}
#u10269_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  word-wrap:break-word;
}
