/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
    font-family: Lato, sans-serif;
}


h3 {
    background-color: rgba(23,28,97, 0.5);
    color: #fff;
    padding: 5px 10px;
    font-weight: normal;
    margin-bottom: 5px;
    font-size: 90%;
}

.small-margin {
    margin: 15px 0 15px 0;
    padding: 0px;
    border: 0px solid orange;
}

.section-header {
    position: relative;
}

.phone {
    font-size: 1.5em;
}

.box-content {
    background-color: #efefef;
    margin-top: 80px;
}

.pricing-table {
    text-align: center;
    
    margin-bottom: 25px;
}
.pricing-summary {
    margin: 0px;
}

.pricing-table .pricing-summary {
    padding: 15px;
    color: white;
    background-color: #333;
    text-align: center;
    height: 175px;
    line-height: 3em;
}
.pricing-table .pricing-details {
    padding: 15px;
    background-color: #efefef;
    text-align: center;
    height: 175px;
    line-height: 3em;
}
.pricing-table .item-list {
    margin: 0px;
    padding: 0px;
}
.pricing-table .item-list li {
    list-style-type: none;
    font-weight: bold;
    color: black;
    margin: 0px;
    padding: 0px;
}
.pricing-table p {
    border-bottom: 1px solid #ccc;
}
.pricing-table h4 {
    color: #fff;
    font-size: 100%;
    font-weight: normal;
    margin: 0px 5px 20px 5px;
}
.pricing-table .price {
    font-size: 4em;
}
.pricing-table .cost-per {
    font-size: 0.7em;
}
.pricing-table .symbol {
    font-size: 2.5em;
    margin-right: 10px;
}
.pricing-table .price-info {
    font-size: 1em;
    color: #ccc;
    font-style: italic;
}
.center-it {
    margin: 40px 0;
    text-align: center;
}


.actionLinks, .buttonLinks {
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;

}

.buttonLinks {
    margin: 5px 0px;
}

.buttonLinks li {
    margin: 1px 0;
    text-align: left;
    padding: 10px 10px 10px 20px;
    border: 0px solid #cccccc;
    background-color: #8C8C8C;
    color: white;
    width: 280px;
    font-weight: normal;
}

.actionLinks {
    margin: 20px 0px;
}

.actionLinks li {
    margin: 1px auto;
    text-align: center;
    padding: 10px;
    border: 0px solid #cccccc;
    background-color: #8C8C8C;
    color: white;
    width: 90%;
    display: block;
    font-weight: normal;
}
.actionLinks li a, .buttonLinks li a {
    color: white;
    text-decoration: none;
}




