body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1102px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6479_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:902px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6479 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:10px;
  width:902px;
  height:18px;
  font-size:16px;
}
#u6479_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:903px;
  white-space:nowrap;
}
#u6480_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1094px;
  height:1204px;
}
#u6480 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:41px;
  width:1094px;
  height:1204px;
}
#u6480_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6481_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1081px;
  height:1190px;
}
#u6481 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:1299px;
  width:1081px;
  height:1190px;
}
#u6481_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6482_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6482 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:1264px;
  width:173px;
  height:18px;
  font-size:16px;
}
#u6482_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  white-space:nowrap;
}
